:root {
  --ypm-color-brand-primary: #953CA3;
  --ypm-color-brand-light: #C397FE;
  --ypm-color-brand-dark: #6B1F7A;

  --ypm-color-text-primary: #1E172C;
  --ypm-color-text-secondary: #1E172C99;
  --ypm-color-text-tertiary: #1E172C;
  --ypm-color-text-inverse: #FFFFFF;
  --ypm-color-text-brand: #953CA3;

  --ypm-color-bg-primary: #FFFFFF;
  --ypm-color-bg-secondary: #F2EBFF;
  --ypm-color-bg-tertiary: #F2EBFF;

  --ypm-color-btn-main-bg: #953CA3;
  --ypm-color-btn-main-text: #FFFFFF;
  --ypm-color-btn-secondary-bg: #F2EBFF;
  --ypm-color-btn-secondary-text: #1E172C;
  --ypm-color-btn-white-bg: #FFFFFF;
  --ypm-color-btn-white-text: #1E172C;

  --ypm-color-state-success: #22C55E;
  --ypm-color-state-error: #EF4444;
  --ypm-color-state-warning: #F59E0B;

  --ypm-color-border-default: #E1E1E1;
  --ypm-color-border-subtle: #F2EBFF;
  --ypm-color-border-brand: #953CA3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ypm-color-brand-primary: #953CA3;
    --ypm-color-brand-light: #C397FE;
    --ypm-color-brand-dark: #6B1F7A;

    --ypm-color-text-primary: #FFFFFF;
    --ypm-color-text-secondary: #F6F0FFB2;
    --ypm-color-text-tertiary: #C397FE;
    --ypm-color-text-inverse: #1E172C;
    --ypm-color-text-brand: #953CA3;

    --ypm-color-bg-primary: #020109;
    --ypm-color-bg-secondary: #3D294C;
    --ypm-color-bg-tertiary: #0C0612;

    --ypm-color-btn-secondary-bg: #231E27;
    --ypm-color-btn-secondary-text: #E8E0F5;

    --ypm-color-border-default: #1F1829;
    --ypm-color-border-subtle: #2A1F3D;
  }
}

.tac-crypto-payment {
  .c-text-primary {
    color: var(--ypm-color-brand-primary)
  }

  .c-text-secondary {
    color: var(--ypm-color-text-secondary)
  }
}
