@use 'reset';
@use 'font';
@use 'colors';

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--c-bg);
  color: var(--c-text);
  transition: background-color 0.3s, color 0.3s;
}
