@use 'reset';
@use 'font';
@use 'colors';
@use 'grid';

.yango-crypto-pay {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--ypm-color-bg-primary);
  color: var(--ypm-color-text-primary);
  transition: background-color 0.3s, color 0.3s;

  hr {
    height: 1px;
    border: none;
    background-color: var(--ypm-color-border-default);
    margin-block-start: 0;
    margin-block-end: 0;
  }
}


